.container {
  position: relative;
  background-color: #eeeeee;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  width: 270px;
  height: 480px;
  margin: 0 auto;
}

.logo {
  max-width: 100%;
  height: 70px;
  margin-bottom: 20px;
}

.boton-pagina {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff; 
  background-color: #5ba589; 
  border: 2px solid #5ba589;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.boton-pagina:hover {
  background-color: #3c6b59; 
  border-color: #3c6b59;
  color: #fff;
}

.titulo {
  font-family: Arial;
}

.mapa {
  max-width: 250px;
  margin-bottom: 20px;
}

.container-camion {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
  overflow: auto;
  max-height: 200px;
  border: 2px solid #5ba589;
  border-radius: 5px;
}

.camion {
  background-color: #f5f5f5;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.camion h2 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
}

.camion .disponibilidad {
  font-weight: bold;
}

.camion .intervalo {
  color: #888;
}

#textoValoracion {
  width: 100%; /* Hace que el textarea ocupe todo el ancho del contenedor */
  max-width: 95%; /* Asegura que no se salga del contenedor */
  padding: 10px; /* Espaciado interno para la comodidad al escribir */
  margin-top: 10px; /* Espacio superior */
  margin-bottom: 20px; /* Espacio inferior */
  border: 1px solid #cccccc; /* Borde sutil */
  border-radius: 5px; /* Bordes redondeados */
  font-family: Arial, sans-serif; /* Tipografía */
  resize: vertical; /* Permite al usuario cambiar el tamaño verticalmente, no horizontalmente */
}

/* Estilos para las estrellas */
.estrellas-valoracion {
  direction: rtl; /* Cambia la dirección para que las estrellas se llenen de derecha a izquierda */
}

.estrellas-valoracion > input {
  display: none; /* Oculta los radio buttons */
}

.estrellas-valoracion > label {
  display: inline-block;
  cursor: pointer;
  font-size: 32px; /* Tamaño de las estrellas */
  color: #444; /* Color de las estrellas vacías */
}

.estrellas-valoracion > label:before {
  content: "★"; /* Carácter de estrella */
}

.estrellas-valoracion > input:checked ~ label {
  color: #f5b301; /* Color de las estrellas llenas */
}

.estrellas-valoracion > label:hover,
.estrellas-valoracion > label:hover ~ label {
  color: #f5b301; /* Color al pasar el mouse sobre las estrellas */
}

#rutaDeseada {
  width: 100%;
  max-width: 95%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  resize: vertical;
}

.ruta {
  max-width: 100%; /* Asegura que la imagen no sea más ancha que su contenedor */
  height: auto; /* Mantiene la relación de aspecto de la imagen */
  display: block; /* Asegura que la imagen no esté en línea con otros elementos */
  margin: 0 auto; /* Centra la imagen en el contenedor */
}
